@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Shantell Sans", sans-serif;
    display: inline-block;
}

@keyframes slidein {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

/* tailwind styling */
.solid-shadow {
    box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.top-shadow {
    box-shadow: 0 -4px 10px 0px rgba(0, 0, 0, 0.15);
}

.solid-border {
    @apply border-primary border-[5px]
}

.clickable {
    @apply cursor-pointer
}

.button-bounce {
    @apply cursor-pointer group-hover:animate-bounce active:translate-y-[-2px]
}